<template>
 <div>
  <input type="text" placeholder="Digite el código o nombre del ítem (al menos tres caracteres)" v-model="query" v-on:keyup="autoComplete" class="form-control">
  <div class="panel-footer" v-if="results.length">
   <ul class="list-group">
    <li class="list-group-item" v-for="result in results">
      <button type="button" class="btn btn-success" v-on:click="agregar(result)">Agregar</button> Código: <b>{{ result.id }}</b>, Nombre: <b>{{ result.name }}</b>
    </li>
   </ul>
  </div>
 </div>
</template>
<script>
 export default{
  props: ['searcharray'],
  data(){
   return {
    query: '',
    results: [],
    agregado: false,
   }
  },
  methods: {
   autoComplete(){
    this.results = [];
    if(this.query.length > 2){
      for (var i = 0; i < this.searcharray.length; i++){
        var name = this.searcharray[i].name.toLowerCase();
        if (name.indexOf(this.query.toLowerCase().trim()) > -1 || this.searcharray[i].id.indexOf(this.query.toLowerCase().trim()) > -1){
          this.results.push(this.searcharray[i]);
        }
      }
    }
   },
   agregar(result){
      this.query = '';
      this.results = [];
      this.$emit('interface', result);
   }
  },
 }
</script>
